@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.App {
    --header_height: 60px;
}

.hw {}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    padding-left: 70px;
    padding-top: 131px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;;
}